body {
    font-family: 'Open Sans', sans-serif;
}

.hide {
    display: none;
}

.profile {
    margin-top: 51px;
}

.fa-btn {
    margin-right: 6px;
}

.navbar {
    position: relative;
    margin-bottom: 0;

    &.scroll {
        position: fixed;
    }
}

.register-role-select-nav {
    position: absolute;
}

.no-padding {
    padding: 0;
}

.message {
    text-align: center;

    p {
        display: inline-block;
        padding: 1em .5em;
        margin-top: 2em;
        background-color: $message-box-background-color;
        color: $message-box-text-color;
        font-size: $message-box-text-font-size;
        font-weight: $message-box-text-font-weight;
    }
}

.fix-padding {
    padding-top: 10px;
}

.acordeon-layout {
    border: 1px solid #D2D2D2;
    border-radius: 3px;
    margin-bottom: 1em;
}