body {
    font-family: 'Open Sans', sans-serif;
}

.fa-btn {
    margin-right: 6px;
}

.navbar {
    position: relative;
    margin-bottom: 0;

    &.scroll {
        position: fixed;
    }
}

.no-padding {
    padding: 0;
}
