@mixin blur($px) {
  -webkit-filter: blur($px);
  -moz-filter: blur($px);
  -o-filter: blur($px);
  -ms-filter: blur($px);
  filter: blur($px);
}

@mixin center($pos) {
    position: $pos;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);    
}

@mixin centerV($pos) {
    position: $pos;
    top: 50%;
    transform: translateY(-50%);
}

@mixin centerH($pos) {
    position: $pos;
    left: 50%;
    transform: translateY(-50%);    
}

@mixin transition($speed) {
    -webkit-transition: all $speed ease-in-out;
    -moz-transition: all $speed ease-in-out;
    -ms-transition: all $speed ease-in-out;
    -o-transition: all $speed ease-in-out;
}

@mixin delay($time) {
    -webkit-transition-delay: $time;
    -o-transition-delay: $time;
    transition-delay: $time;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}