@mixin blur($px) {
  -webkit-filter: blur($px);
  -moz-filter: blur($px);
  -o-filter: blur($px);
  -ms-filter: blur($px);
  filter: blur($px);
}

@mixin centerV() {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin transition($speed) {
    -webkit-transition: all $speed ease-in-out;
    -moz-transition: all $speed ease-in-out;
    -ms-transition: all $speed ease-in-out;
    -o-transition: all $speed ease-in-out;
}

@mixin delay($time) {
    -webkit-transition-delay: $time;
    -o-transition-delay: $time;
    transition-delay: $time;
}