// Navigation
$navigation-background-color: #FBF2F2;
// ~ Items
$navigation-item-color: #BFBFBF;
$navigation-item-font-size: 15px;
$navigation-item-font-weight: 400;

// Login
$login-background-image: url(../img/login-screen-img.jpg);
$login-background-overlay-color: rgba(58, 83, 155, .8);
$login-panel-color: rgba(40,60,117,.6);
$login-error-color: #F22613;
// ~ Role Select
$role-select-label-color: #FFF;
$role-select-label-font-size: 20px;
$role-select-label-font-weight: 400;
$role-select-arrow: url(../img/dropdown-arrow-white.png);
// ~ Inputs
$login-input-color: #a7aeb3;
$login-input-font-size: 20px;
$login-input-font-weight: 400;
// ~ Login button
$login-button-background: #00ab6b;
$login-button-color: #FFF;
$login-button-font-size: 20px;
$login-button-font-weight: 400;
// ~ Links
$login-links-color: #FFF;
$login-links-font-size: 14px;
$login-links-font-weight: 400;

// Register role selection
$register-role-select-background-image: url(../img/register-screen-img.jpg);
$register-role-select-background-overlay-color: rgba(58, 83, 155, .8);
$register-role-select-panel-color: rgba(40,60,117,.6);
// ~ Menu
$register-role-select-menu-color: #FFF;
$register-role-select-menu-font-size: 20px;
$register-role-select-menu-font-weight: 400;
// ~ Title
$register-role-select-title-color: #FFF;
$register-role-select-title-font-size: 20px;
$register-role-select-title-font-weight: 400;
// ~ Icons
$register-role-select-icon-color: #FFF;
$register-role-select-icon-font-size: 72px;
$register-role-select-icon-font-weight: 400;
// ~ Names
$register-role-select-name-color: #FFF;
$register-role-select-name-font-size: 18px;
$register-role-select-name-font-weight: 400;

// Register
$register-background-image: url(../img/register-screen-img.jpg);
$register-background-overlay-color: rgba(58, 83, 155, .8);
$register-panel-color: rgba(40,60,117,.6);
// ~ Title
$register-title-color: #FFF;
$register-title-font-size: 17px;
$register-title-font-weight: 400;
// ~ Menu
$register-menu-color: #FFF;
$register-menu-font-size: 20px;
$register-menu-font-weight: 400;
// ~ Label
$register-label-color: #FFF;
$register-label-font-size: 15px;
$register-label-font-weight: 600;
// ~ Inputs
$register-input-color: #a7aeb3;
$register-input-font-size: 18px;
$register-input-font-weight: 400;
// ~ Register button
$register-button-background: #00ab6b;
$register-button-color: #FFF;
$register-button-font-size: 20px;
$register-button-font-weight: 400;

// Password reset
$password-reset-background-image: url(../img/password-reset-background.jpg);
$password-reset-background-overlay-color: rgba(58, 83, 155, .8);
$password-reset-panel-color: rgba(40,60,117,.6);
$password-reset-error-color: #F22613;
// ~ Inputs
$password-reset-input-color: #a7aeb3;
$password-reset-input-font-size: 20px;
$password-reset-input-font-weight: 400;
// ~ Reset button
$password-reset-button-background: #D91E18;
$password-reset-button-color: #FFF;
$password-reset-button-font-size: 20px;
$password-reset-button-font-weight: 400;

// Profile
// ~ Welcome title
$profile-welcome-background-height: 22em;
$profile-welcome-background-image: url(../img/profile-photo-1.jpg);
$profile-welcome-background-color: rgba(247, 202, 24, .8);
$profile-welcome-title-color: #FFF;
$profile-welcome-title-font-size: 40px;
$profile-welcome-title-font-weight: 600;
// ~ Title
$profile-title-color: #000;
$profile-title-font-size: 40px;
$profile-title-font-weight: 400;
// ~ Subtitle
$profile-sub-title-color: #000;
$profile-sub-title-font-size: 20px;
$profile-sub-title-font-weight: 300;
// ~ Headline title
$profile-headline-color: #000;
$profile-headline-font-size: 20px;
$profile-headline-font-weight: 600;
// ~ Reviewers list
$profile-reviewer-list-color: #000;
$profile-reviewer-list-font-size: 17px;
$profile-reviewer-list-font-weight: 300;
// ~ Additional info label
$profile-additional-info-label-color: #000;
$profile-additional-info-label-font-size: 16px;
$profile-additional-info-label-font-weight: 600;
// ~ Additional info text
$profile-additional-info-text-color: #000;
$profile-additional-info-text-font-size: 16px;
$profile-additional-info-text-font-weight: 400;
// ~ Edit link
$profile-edit-link-color: #000;
$profile-edit-link-font-size: 16px;
$profile-edit-link-font-weight: 300;

// Profile edit page
// ~ Input label
$edit-profile-input-label-color: #000;
$edit-profile-input-label-font-size: 16px;
$edit-profile-input-label-font-weight: 600;
// ~ Input field
$edit-profile-input-field-color: #9C9C9C;
$edit-profile-input-field-font-size: 16px;
$edit-profile-input-field-font-weight: 400;
// ~ Submit button
$edit-profile-submit-button-background-color: #446CB3;
$edit-profile-submit-button-color: #FFF;
$edit-profile-submit-button-font-size: 16px;
$edit-profile-submit-button-font-weight: 600;

// Profile analyses
// ~ Analyses
$analyse-box-color: #000;
$analyse-box-font-size: 20px;
$analyse-box-font-weight: 600;
// ~ Coretasks
$coretask-box-color: #000;
$coretask-box-font-size: 20px;
$coretask-box-font-weight: 600;
// ~ Workprocesses
$workprocess-box-color: #000;
$workprocess-box-font-size: 20px;
$workprocess-box-font-weight: 300;

// Analyses, coretasks and workprocesses
$acw-add-title-color: #000;
$acw-add-title-font-size: 16px;
$acw-add-title-font-weight: 600;
// ~ Input label
$acw-add-input-label-color: #000;
$acw-add-input-label-font-size: 16px;
$acw-add-input-label-font-weight: 600;
// ~ Input field
$acw-add-input-field-color: #9C9C9C;
$acw-add-input-field-font-size: 16px;
$acw-add-input-field-font-weight: 400;
// ~ Submit button
$acw-add-submit-button-background-color: #446CB3;
$acw-add-submit-button-color: #FFF;
$acw-add-submit-button-font-size: 16px;
$acw-add-submit-button-font-weight: 600;