// Login
$login-background-image: url(../img/login-screen-img.jpg);
$login-background-overlay-color: rgba(58, 83, 155, .8);
$login-panel-color: rgba(40,60,117,.6);
// ~ Role Select
$role-select-label-color: #FFF;
$role-select-label-font-size: 20px;
$role-select-label-font-weight: 400;
$role-select-arrow: url(../img/dropdown-arrow-white.png);
// ~ Inputs
$role-select-input-color: #FFF;
$role-select-input-font-size: 24px;
$role-select-input-font-weight: 400;