// Login
$login-background-image: url(../img/login-screen-img.jpg);
$login-background-overlay-color: rgba(58, 83, 155, .8);
$login-panel-color: rgba(40,60,117,.6);
// ~ Role Select
$role-select-label-color: #FFF;
$role-select-label-font-size: 20px;
$role-select-label-font-weight: 400;
$role-select-arrow: url(../img/dropdown-arrow-white.png);
// ~ Inputs
$login-input-color: #a7aeb3;
$login-input-font-size: 20px;
$login-input-font-weight: 400;
// ~ Login button
$login-button-background: #00ab6b;
$login-button-color: #FFF;
$login-button-font-size: 20px;
$login-button-font-weight: 400;
// ~ Links
$login-links-color: #FFF;
$login-links-font-size: 14px;
$login-links-font-weight: 400;