.background {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;

    .color-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $login-background-overlay-color;
        z-index: 2;
    }

    .background-image {
        position: absolute;
        width: 100%;
        height: 100%;
        background: $login-background-image;
        background-size: cover;
        z-index: 1;

        @include blur(5px);
    }
}

.login-container {
    .row {
        position: relative;
    }

    form {
        margin-bottom: -2em;
    }

    .login-screen {
        display: block;
        height: 100vh;
        z-index: 3;

        .panel {
            background-color: $login-panel-color;
            border: 0;
            border-radius: 0;

            @include centerV(relative);

            .message-post-login {
                color: $login-error-color;
            }

            .role-select {
                label {
                    color: $role-select-label-color;
                    font-size: $role-select-label-font-size;
                    font-weight: $role-select-label-font-weight;
                    float: left;
                    margin-right: 10px;
                }
                select {
                    width: 7em;
                    color: $role-select-label-color;
                    font-size: $role-select-label-font-size;
                    font-weight: $role-select-label-font-weight;
                    background: transparent;
                    border: 0;
                    outline: none;
                    -webkit-appearance: none;
                    overflow: hidden;
                    background: $role-select-arrow no-repeat right;
                    background-size: 15px 10px;
                    padding-left: 0;

                    option {
                        color: initial;
                        font-size: initial;
                    }
                }
            }

            input {
                color: $login-input-color;
                font-size: $login-input-font-size;
                font-weight: $login-input-font-weight;
                background: transparent;
                border: 0;
                border-bottom: 1px solid $login-input-color;
                border-radius: 0;
                padding-left: 0;

                @include transition(.2s);

                &:focus {
                    outline: none;
                    box-shadow: none;
                    border-bottom: 1px solid white;

                    @include placeholder {
                        color: white;

                        @include transition(.2s);
                    }
                }
            }

            button {
                &[type="submit"] {
                    width: 100%;
                    height: 2.5em;
                    background-color: $login-button-background;
                    color: $login-button-color;
                    font-size: $login-button-font-size;
                    font-weight: $login-button-font-weight;
                    text-align: center;
                    border: none;
                    outline: 0;
                    border-radius: 0;
                    margin-top: 10px;

                    @include transition(.2s);

                    &:hover {
                        background-color: darken($login-button-background, 10%);
                    }
                }
            }

            .login-link {
                a {
                    color: $login-links-color;
                    font-size: $login-links-font-size;
                    font-weight: $login-links-font-weight;
                }

                &.password-reset {
                    padding-left: 2px;
                    text-align: left;
                }
                &.register {
                    padding-right: 2px;
                    text-align: right;
                }
            }
        }
    }
}