.background {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;

    .color-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $register-background-overlay-color;
        z-index: 2;
    }

    .background-image {
        position: absolute;
        width: 100%;
        height: 100%;
        background: $register-background-image;
        background-size: cover;
        z-index: 1;

        @include blur(5px);
    }
}

.register-role-select-nav {
    text-align: right;
    padding-top: 5px;
    z-index: 99;

    a {
        color: $register-role-select-menu-color;
        font-size: $register-role-select-menu-font-size;
        font-weight: $register-role-select-menu-font-weight;
        text-decoration: none;
    }
}   

.register-container {
    .row {
        position: relative;
    }

    .red {
        color: #D91E18;
    }

    .form-container {
        height: 100vh;

        form {
            background-color: $register-panel-color;
            padding-top: 1em;
            margin-top: -2em;

            @include centerV();

            h1.title {
                color: $register-title-color;
                font-size: $register-title-font-size;
                font-weight: $register-title-font-weight;
                padding: 0 0 10px 14px;
                margin: 0;
            }

            label {
                color: $register-label-color;
                font-size: $register-label-font-size;
                font-weight: $register-label-font-weight;
            }
            input {
                background: transparent;
                color: white;
                font-size: $register-input-font-size;
                font-weight: $register-input-font-weight;
                border: none;
                border-bottom: 1px solid $register-input-color;
                border-radius: 0px;
                outline: 0;
                box-shadow: none;
                padding-left: 0;

                @include placeholder {
                    color: $register-input-color;
                }

                @include transition(.2s);

                &:hover, &:focus {
                    color: #FFF;
                    border-color: #FFF;

                    @include placeholder {
                        color: #FFF;

                        @include transition(.2s);
                    }
                }
            }
            select {
                color: white;
                font-size: $register-input-font-size;
                font-weight: $register-input-font-weight;
                background: transparent;
                border: 0;
                outline: none;
                -webkit-appearance: none;
                overflow: hidden;
                background: $role-select-arrow no-repeat right;
                background-size: 15px 10px;
                padding-left: 0;
                outline: 0;
                box-shadow: none;
                border-bottom: 1px solid $register-input-color;
                border-radius: 0;

                @include transition(.2s);

                @include placeholder() {
                    color: $register-input-color;

                    @include transition(.2s);
                }

                &:hover, &:focus {
                    border-bottom: 1px solid white;
                }

                option {
                    color: initial;
                    font-size: initial;
                }
            }
            button {
                &[type="submit"] {
                    width: 100%;
                    height: 2.5em;
                    background-color: $register-button-background;
                    color: $register-button-color;
                    font-size: $register-button-font-size;
                    font-weight: $register-button-font-weight;
                    text-align: center;
                    border: none;
                    outline: 0;
                    border-radius: 0;
                    margin-top: 10px;

                    @include transition(.2s);

                    &:hover {
                        background-color: darken($register-button-background, 10%);
                    }
                }
            }
        }
    }

}